.p-table {
	.el-table .el-table-row {
		height: 40px;
		font-size: 14px;
	}
	.el-table .el-table__row--level-0 {
		font-size: 15px;
		height: 42px;
		font-weight: bold;
		color: #58c1ee;
	}
	.el-table .el-table__row--level-1 {
		font-weight: 500;
		color: #58c1ee;
	}
}
.p-pagination {
	margin-top: 8px;
	text-align: right;
}